/*
Plugin: jQuery Parallax
Version 1.1.3
Author: Ian Lunn
Twitter: @IanLunn
Author URL: http://www.ianlunn.co.uk/
Plugin URL: http://www.ianlunn.co.uk/plugins/jquery-parallax/

License: http://creativecommons.org/licenses/by-sa/3.0/ (Attribution Share Alike). Please attribute work to Ian Lunn simply by leaving these comments in the source code or if you'd prefer, place a link on your website to http://www.ianlunn.co.uk/.
*/

@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
	min-width: 980px;
	padding: 0;
	background-color:#f2f2f2;
	font-family: 'Lato', sans-serif!important
}
.clear
{
    clear:both;
}
h4{

	Color:#000;
	font-size: 18px;
	padding-bottom:10px;
}
img{
	border: 0;
	max-width: 100%;
	vertical-align: center;
}
*:focus {
 outline:none;	
} 
a{

	color:##7b7979!important
}
a:hover{

	color: #7b7979;
	text-decoration: underline;
}
.float-left{
	float: left;	
	margin: 120px 0 0 80px;
}
.floatright{

	float: right;
	position: relative;
	width: 255px;
}
.float-right{
	float: right;

	margin: 0 20px 0 0;
}
.center{
	font-size: 2.5em;
	padding: 80px 0 0 0;
	text-align: center;
}
#nav{
	float:right;
	position:relative;
	margin:16px 0 0 0;
	z-index:999;	
}
#nav ul
{
	position:relative;	
}
#nav ul li
{
	display:inline;
	position:relative;	
	margin:0 5px 0 5px;
	
}
#nav ul li a
{
	text-decoration:none;
	font-size:18px;
	
	color:#000;
	padding:29px 15px 29px 15px;
	font-weight:bold;
}
#nav li a:hover{

width:6px;
	color:#333;
	font-weight:bold;
	
}
#nav li a.active{
		color:#333;
	font-weight:bold;
}


#header, #home, #second{
	width: 100%;
}


#about{

	
	padding: 100px 0 0 0;	
}


#contact{
	padding: 100px 0 0 0;

	
}
#portfolio{
	padding: 100px 0 0 0;


}
.story{
	margin: 0 auto;
	min-width: 980px;
	overflow: auto;
	width: 980px;
}

.story .float-left, .story .float-right{
	padding: 100px 0 0 0;
	position: relative;
	
}
.header{
width:100%;
position:fixed;
top:0;
z-index:999;
background: #f2f2f2;
-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	
}
.logo{
position:relative;
float:left;
margin-left:10px;
margin-top:10px;

	
}
#conatiner
{
	margin:0 auto;
	width:1000px;
	height:auto;
	position:relative;
	

}
.floatleft{

	position:relative;
	float: left;
}
.aboutpic{

	position: relative;
	width: 333px;
}
.abouttext{

	position: relative;
	width: 640px;
}
.abouttext span{

	font-size:25px;
	font-weight:bold;
	color:#2f2f2f;
	/*font-family: 'Helvetica';*/
}
.abouttext p{

	font-size: 18px;
	color: #7b7979;
	text-align: justify;
	line-height:24px;
	margin: 10px auto;
	/*font-family: 'calibri'*/
}
.aboutdiv2{
position:relative;
	background-color: #e6e6e6;
	width: 100%;
	margin-top:2%;
	height: 340px;
	border-top:1px solid #afadad;
	border-bottom:1px solid #afadad;
}
.aboutdiv3{
position:relative;
border-bottom:1px solid #ccc;

}
.aboutdiv4{
position:relative;
	background-color: #e6e6e6;
	width: 100%;
	padding-top:45px;
	height: 100%;
	border-top:1px solid #afadad;
	border-bottom:1px solid #afadad;
}
.partdesigner{ 
 padding-left: 5%;
  padding-top: 4%;
  width: 277px;
}
.partdesigner ul {
	padding-left:22px;
}
.partdesigner ul li{
	font-size: 19px;
  color: #7b7979;
  text-align: justify;
  line-height: 28px;

list-style-type: square;
}
.partdeveloper ul {
	padding-left:22px;
}
.partdeveloper ul li{
	font-size: 19px;
  color: #7b7979;
  text-align: justify;
  line-height: 28px;

list-style-type: square;
}

span{

	font-size:25px;
	font-weight:bold;
	color:#2f2f2f;
}
p{

	font-size: 19px;
	color: #7b7979;
	text-align: justify;
	line-height:28px;
}
.partdeveloper{
		padding-top:4%;
}
.partdeveloperpic{
	padding-top:4%;

width:367px;
}
.technical_title{
	float: right;
	position: relative;
	right: 0;
	margin-bottom:2%;
	font-size:25px;
	font-weight:bold;
	color:#2f2f2f;
	
}

.htmldiv{

	width:80px;
	height:260px;
	border: 1px solid #7dcec5;
	 background: -webkit-linear-gradient(#b5ede6, #7bc1ba); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#b5ede6, #7bc1ba); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#b5ede6, #7bc1ba); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#b5ede6, #7bc1ba); /* Standard syntax */
  margin-left:10%;
  margin-top:4px;
}
.photoshopdiv{
		width:80px;
	height:220px;
	margin-left:6%;
margin-top:5%;
	border: 1px solid #c69013;
	 background: -webkit-linear-gradient(#f1cf81, #f1b01c); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f1cf81, #f1b01c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f1cf81, #f1b01c); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f1cf81, #f1b01c); /* Standard syntax */
  padding-bottom:0!important;
}

.illustratordiv{
		width:80px;
	height:200px;
	margin-left:6%;
	margin-top:64px;
	bottom:0;
	border: 1px solid #9e2216;
	 background: -webkit-linear-gradient(#f9887d, #e84c3d); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f9887d, #e84c3d); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f9887d, #e84c3d); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f9887d, #e84c3d); /* Standard syntax */
}

.jquerydiv{
		width:80px;
	height:180px;
	margin-left:6%;
	margin-top:84px;
	border: 1px solid #2371a6;
	 background: -webkit-linear-gradient(#97cff5, #399adc); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#97cff5, #399adc); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#97cff5, #399adc); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#97cff5, #399adc); /* Standard syntax */
}

.indesigndiv{
		width:80px;
	height:160px;
	margin-left:6%;
	margin-top:104px;
	border: 1px solid #584854;
	 background: -webkit-linear-gradient(#c1acbc, #756371); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#c1acbc, #756371); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#c1acbc, #756371); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#c1acbc, #756371); /* Standard syntax */
}
.div_title{
color: #fff;
  text-align: center;
  padding-top:15px;
  font-size: 25px;
  font-weight:bold;
  
 
  /*opacity: 0.5;*/
}
.div_value{
	color:#fff;
	font-size: 13px;
	poisiton:relative;
	 /*opacity: 0.5;8*/
	 text-align: center;
	 font-weight: bold;
}

.personalpic{

	width: 300px;
  padding-left: 8%;
  padding-right: 4%;
  padding-top: 4%;
}
.personalstuff{
padding-top:7%;
padding-left:3%;
	width:500px;
}
.portfolio_div{

	width:300px;
	margin-top:3%;
	margin-bottom:1%;
	margin-right:2%;
	position: relative;;
	float: left;
}
.height10{

	padding-top:10px;
}
.portfolio_div img{
	cursor: pointer;
	border:1px solid #ccc;
}
.project_title{
padding-top:10px;
	text-align:center;
	font-size: 22px;

}
.modal-title{
font-size: 21px;
font-weight:bold;

}
.portfolio_title{

	float: left;
}

.aboutdiv4 span{

	font-weight:bold;
	color:#000;
}
.homediv_left
{
	width:550px;
	position:relative;
	float:left;
	margin-left:50px;
}
#workModal img{
	max-width: 100%;
	margin-bottom: 22px;
}
